<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}} <small>({{profile.login}})</small>
      <span *ngIf="profile.company">, works at {{profile.company}} </span>
      {{profile.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}} " class="img-circle img-responsive" alt="Profile Image">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item"> {{profile.bio}}</li>
            <li class="list-group-item"> Available for hire </li>
            <li class="list-group-item"> <a href="{{profile.blog}}" target="_blank"></a> </li>
            <li class="list-group-item"> <a href="emailto:{{profile.email}}"></a> </li>

          </ul>
        </div>
        <div class="col-sm-4">
          <div>
            <p>
              <span class="label-default"> {{profile.followers}} Followers</span>
              <span class="label-primary">  {{profile.followings }} Following</span>
              <span class="label-success"> {{profile.public_gists}} Public gists </span>
              <span class="label-info"> {{profile.public_repos}} Public Repos</span>
            </p>
            <p><a href="" class="btn btn-success ">View profile on github</a></p>
          </div>
        </div>


      </div>
    </div>


  </div>

</div>
